.link-container {
    margin-top: -3rem;
    margin-bottom: 10rem;
}

.btn-link {
    width: 75%;
    margin-bottom: 1rem;
    padding: .5rem 0;
    
    color: #464646;
    background: linear-gradient(to right,#f7f7fa, #d4bc7d);
    border: none;

    letter-spacing: 5px;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 16px;
    
}

.btn-link:hover, .btn-link:focus, .btn-link:active {

    color: #464646;
    border: none;
}